div.btn-group(data-row='{data}')
    button.btn.btn-warning.btn-xs.button-edit(data-action='edit', data-placement='top', title=__('label.edit'))
        i.fa.fa-pencil
    button.btn.btn-danger.btn-xs.button-delete(data-action='delete', data-placement='top', title=__('label.delete'))
        i.fa.fa-times