extends layout

block title
    title #{__('title.dashboard')}

block content
    div.row
        div.col-lg-3.col-xs-6
            div.small-box.bg-red-active
                div.inner
                    h3 clients
                    p #{__('label.students')}
                div.icon
                    i.fa.fa-building
        div.col-lg-3.col-xs-6
            div.small-box.bg-aqua-active
                div.inner
                    h3 users
                    p #{__('label.users')}
                div.icon
                    i.fa.fa-users
        div.col-lg-3.col-xs-6
            div.small-box.bg-maroon
                div.inner
                    h3 urlsCount
                    p #{__('label.repords')}
                div.icon
                    i.fa.fa-globe
        